/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* MENU LATERAL */
#menu {
    box-shadow: -9px -1px 21px 0px rgba(0,0,0,0.54);
    width: 220px;
    height:100vmax;
    /* position: fixed; */
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin-left: 12%;
}

#box_nome_evento {
    width: 220px;
    height: 68px;
    background: linear-gradient(#FFB354, #EE7A3A);
    display: flex;
    justify-content: center;
    align-items: center;

}

#nome_evento {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35.16px;
    color: #FFFFFF;
}

.item_desativado, .item_ativado {
    width: 220px;
    height: 35px;
    border-bottom: 2px #E7E7E7 solid ;
    cursor: pointer;
}

.item_ativado {
    display: flex;
    background-color: #FDF1EB;
}

.item_ativado span {
    width: 5px;
    height: 33px;
    background: linear-gradient(#FFB455, #ED7839);
    display: block;
} 

.item_desativado p, .item_ativado p{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.75px;
    color: #725C5C;
    position: relative;
    top: 7px;
    left: 24px;
}

/* SESSÃO PRINCIPAL */
main {    
    width: 100%;
}

/* CABEÇALHO */
main header {
    background-color: #FDF1EB;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#informacoes {
    font-family: "Roboto", sans-serif;
    color: #725C5C;
}

#informacoes p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
}

#informacoes h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 25.78px;
}

#botoes {
    justify-content: space-between;
    
}

#botao_idiomas {
    width: 97px;
    height: 34px;
    background-color: #FDF1EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    left: 100px;
}

#botao_idiomas p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #333333;
}

#login {
    display: flex;
    width: 202px;
    height: 34px;
    gap: 5px;
}

#login .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-family: "Quicksand", sans-serif;
    color: #333333;
}

#login .user-info h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    text-align: right;
}

#login .user-info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

#login .userPicture {
    display: flex;
}

#login .userPicture img {
    object-fit: scale-down;
    width: 30.63px;
    height: 30.63px;
    border: 1px;
    border-radius: 100%;
}

#login .userPicture span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F85959;
    color: #FFF;
    position: relative;
    top: -2px;
    right: 10px;
    text-align: center;
}

/* SESSÃO DO VIDEO DE APRESENTAÇÃO */
#container {
    width: 783px;
    padding: 20px 10px;
    margin-left: 4.5%;

}

#container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #ED7839;
    text-align: justify;
}

div iframe {
    top: 20px;
    left: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/* SESSÃO DE BOTÕES E DETALHES */
#container_informacoes {
    display: inline-block;
    vertical-align: top;
    right: 0;
}

#container_informacoes {
    width: 250px;
    height: 31px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    position: absolute;
    padding: 5px;
    top: 10%;
    right: 3%;
    gap: 5px;
}

#download_botao {
    width: 120px;
    height: 31px;
    border-radius: 4px;
    gap: 8px;
}

#download_botao > img {
    height: 19px;
    padding-bottom: 3.5px;
}

#download_botao p {
    left: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75;
    text-align: center;
}

#download_botao, #favoritar_botao, #doi_botao {
    background-color: #ED7839;
    border: 1px solid #ED7839;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#container_informacoes p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF;
}

#favoritar_botao {
    width: 43px;
    height: 31px;
    border-radius: 4px;
}

#favoritar_botao button {
    transform: translateY(-50%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#doi_botao {
    width: 43px;
    height: 31px;
    border-radius: 4px;
    right: 10%;
}

#citacao {
    width: 242px;
    height: 25px;
    top: 15%;
    right: 2%;
    position: absolute;
    right: 4.5%;
}

#citacao_titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ED7839;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: right;
    padding-bottom: 5%;
}

#detalhes {
    width: 242px;
    height: 45px;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    background-color: #FDF1EB;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    text-align: justify;
    padding: 8px 10px;
}

#citacao_box {
    width: 242px;
    height: 400px;
    border: 1px solid #ECECEC;
    color: #5C5C5C;
    overflow: auto;
}

#citacao_box::-webkit-scrollbar {
    width: 3px;
    background-color: #E7E7E7;
}

#citacao_box::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    border-radius: 5px;
}

.citacao_texto {
    top: 133px;
    left: 831px;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 12px;

}

.poster {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 2%;
}

#autores {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2%
}

#lista_autores {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2%
}

.destaque_cinza {
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    color: #ADA0A0;
}

#sessao2 {
    margin-bottom: 30px;
}

.titulo_box {
    width: 90%;
    height: 45px;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    background-color: #FDF1EB;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    text-align: justify;
    justify-content: center;
    padding: 8px 10px;
    margin-left: 4.5%;
}

.conteudo_box {
    width: 90%;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    color: #5C5C5C;
    margin-left: 4.5%;
    cursor: pointer;
}

.conteudo_box p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.75px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-show-more {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21.33px;
    letter-spacing: 0.28px;
    color: #ED7839;
    padding: 10px;
    cursor: pointer;
}

.conteudo_box {
    width: 90%;
    height: 621px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    color: #5C5C5C;
    margin-left: 4.5%;
}

#conteudo_box > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ED7839;
    padding: 15px;
}

#icones_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 30px;
}

#frase_box {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.25px;
    letter-spacing: 0.28px;
    color: #595959;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#criarTopico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

/* #criarTopico hr */
hr {
    position: absolute;
    border: 1px solid #E7E7E7;
    width: 1200px;
    z-index: -1;
}

.btn-create-topic {
    width: 133px;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#FFB354, #EE7A3A);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
    gap: 5px;
    cursor: pointer;
}

.container {
    padding: 2%;
}

.thread {
    width: 90%;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    color: #5C5C5C;
    margin-left: 5%;
    padding: 2%;
} 

.assunto_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.usuario_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    padding-top: 3px;
}

.pergunta_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #4D4D4D;
    padding-top: 10px;
}

.card_footer {
    display: flex;
    padding-top: 10px;
    gap: 15px;
}

.card_footer > button {
    background: none;
    border: none;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 350;
    font-size: 14px;
    line-height: 18.62px;
    color: #757575;
}

/* ESTILIZAÇÃO EM FASE DE TESTE */
/* #novoTopico {
    width: 90%;
    margin-left: 4.5%;
} */

.conteudo2 {
    width: 90%;
    margin-left: 4.5%;
    /* border: 1px solid black; */
}

#formulario {
    width: 90%;
    margin-left: 4.5%;
}

#formulario textarea {
    width: 100%;
}

#legenda_form {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: center;
    color: #5C5C5C;
    padding: 18px;
}

.titulo_form {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #ED7839;
    text-align: justify;
    padding-bottom: 5px;
    margin-top: 12px;
}

.caixa {
    width: 1025.52px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #C4C4C4;
    padding-left: 22.66px;
}
#box_assunto {
    height: 39px;
    line-height: 2.5;
}

#box_conteudo2 {
    height: 113px;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
}

#btnEnviar {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 3px 3px;
}

#btnEnviar > input {
    width: 15%;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    background: linear-gradient(#FFB354, #EE7A3A);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.conteudo2 {
    text-align: center;
}

.conteudo2 > h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    color: #ED7839;
}

.conteudo2 > p {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.25px;
    text-align: center;
    color: #595959;
    padding-bottom: 20px;
}

.conteudo2 > span {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F48F44;
    text-decoration: underline;
}

.conteudo2 > button {
    width: 235.15px;
    height: 32px;
    border-radius: 5px;
    margin-top: 10px;
}

#container2 {
    width: 100%;
    height: 148px;
    position: relative;
}

.thread2 {
    width: 100%;
    height: 152px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    color: #5C5C5C;
    padding: 2%;
    background-color: #DDDDDD;
    background-size: cover;
    position: absolute;
    filter: blur(2px);
    opacity: 25%;
} 

.assunto_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.usuario_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    /* font-weight: 500; */
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    padding-top: 3px;
}

.pergunta_discussao {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #4D4D4D;
    padding-top: 10px;
}

#feedback {
    width: 100%;
    height: 210px;
    filter: blur();
    position: absolute;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -5px 8px -6px #DDDDDD;
}

#feedback img {
    padding: 5px;
    font-family: Font Awesome 5 Free;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    text-align: left;
    margin-bottom: -8px;
} 

#feedback h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #707070;
    margin-bottom: 8px;
    padding-right: 6.7%;
}

#feedback span {
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px;
    text-align: left;
    color: #ED7839;
    text-decoration: underline;
    padding-right: 2.2%;
}

 /* FIM DA ESTILIZAÇÃO EM FASE DE TESTE */


footer {
    width: 100%;
    margin-top: 4%;
}

footer > img {
    width: 1086px;
    margin-left: 4.5%;
}